## creation dataBase

In [20]:
import sqlite3
conn = sqlite3.connect('db/database')

In [21]:
c = conn.cursor()

In [16]:
c.execute('''
          create table if not exists article (
  id integer primary key,
  titre varchar(100),
  identifiant varchar(50),
  auteur varchar(100),
  date_publication text,
  paragraphe varchar(500)
);
          ''')

In [23]:
c.execute('''INSERT INTO article (id, titre, identifiant, auteur, date_publication, paragraphe) VALUES ({},{},{},{},{},{})'''.format(2,'"bye"','"2"','"fracoise"','"20230216"','"bonjour moi c Inesss"'))
conn.commit()
c.execute('''INSERT INTO article (id, titre, identifiant, auteur, date_publication, paragraphe) VALUES ({},{},{},{},{},{})'''.format(1,'"Alloo"','"1"','"hafida"','"20230218"','"bonjour moi c Inesss"'))
conn.commit()
c.execute('''INSERT INTO article (id, titre, identifiant, auteur, date_publication, paragraphe) VALUES ({},{},{},{},{},{})'''.format(3,'"chao"','"3"','"fracos"','"20230219"','"bonjour moi c Inesss"'))
conn.commit()
c.execute('''INSERT INTO article (id, titre, identifiant, auteur, date_publication, paragraphe) VALUES ({},{},{},{},{},{})'''.format(4,'"salam"','"4"','"hafid"','"20230220"','"bonjour moi c Inesss"'))
conn.commit()

In [26]:
c.execute("SELECT titre,identifiant,date_publication FROM article ORDER BY date_publication DESC LIMIT 5")

In [17]:
conn.commit()

In [27]:
c.fetchall()

[('salam', '4', '20230220'),
 ('chao', '3', '20230219'),
 ('Alloo', '1', '20230218'),
 ('bijouur', '0', '20230217'),
 ('bye', '2', '20230216')]

In [28]:
c.execute("SELECT titre,identifiant,date_publication FROM article WHERE titre LIKE {} ORDER BY date_publication DESC LIMIT 5".format('"%'+"lam"+'%"'))

In [29]:
c.fetchall()

[('salam', '4', '20230220')]

In [30]:
c.execute('SELECT titre,identifiant,date_publication FROM article WHERE identifiant = "9"')

In [31]:
c.fetchall()

[]

In [32]:
c.execute('UPDATE article SET titre = "'+"c le titre"+'", paragraphe = "'+"c le paragraphe"+'" WHERE identifiant = "'+"0"+'"')
conn.commit()

In [33]:
c.execute('SELECT * FROM article')
c.fetchall()

[(0, 'c le titre', '0', 'ines', '20230217', 'c le paragraphe'),
 (1, 'Alloo', '1', 'hafida', '20230218', 'bonjour moi c Inesss'),
 (2, 'bye', '2', 'fracoise', '20230216', 'bonjour moi c Inesss'),
 (3, 'chao', '3', 'fracos', '20230219', 'bonjour moi c Inesss'),
 (4, 'salam', '4', 'hafid', '20230220', 'bonjour moi c Inesss')]

In [35]:
c.execute('SELECT max(id) FROM article')
c.fetchall()[0][0]

4

In [36]:
c.execute('SELECT * FROM article')
c.fetchall()

[(0, 'exemple1', '0', 'ines', '20230217', 'c le paragraphe '),
 (1, 'exemple2', '1', 'hafida', '20230218', 'Paragraphe2'),
 (2, 'exemple3', '2', 'fracoise', '20230216', 'paragraphe3'),
 (3, 'exemple 4', '3', 'fracos', '20230219', 'paragraphe 4'),
 (4, 'exemple 5', '4', 'hafid', '20230220', 'paragraphe 5'),
 (5, 'exemple 6', '5', 'rfggbt', 'uefhuifeihu', 'paragraphe 6')]

In [37]:
c.execute('''
          create table if not exists article (
  id integer primary key,
  titre varchar(100),
  identifiant varchar(50),
  auteur varchar(100),
  date_publication text,
  paragraphe varchar(500)
);
          ''')

In [39]:
c.execute('''INSERT OR IGNORE INTO article (id, titre, identifiant, auteur, date_publication, paragraphe) VALUES ({},{},{},{},{},{})'''.format(0,'"Exemple 1"','"0"','"Ines"','"20230303"','"test paragraphe"'))
conn.commit()
c.fetchall()

[]

In [40]:
c.fetchall()

[]

In [42]:
c.execute("""INSERT or REPLACE INTO article (id, titre, identifiant, auteur, date_publication, paragraphe) VALUES ({},{},{},{},{},{})""".format(
            0, '"'+"Exemple"+'"', '"'+"0"+'"', '"'+"Ines"+'"', '"'+"20230303"+'"', '"'+"Tes de paragraphe"+'"'))
c.fetchall()

OperationalError: attempt to write a readonly database